<div class="footer-area nopd" id="contact">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-md-3">
          <div class="footer-widget">
            <a href="" [routerLink]="['/home']"
              ><img
                src="../../assets/images/TechSwap Logo.svg"
                alt="footer-logo"
                style="height: 40px; margin-top: 45px"
            /></a>
          </div>
        </div>
        <!-- col -->

        <div class="col-md-3">
          <div class="footer-widget">
            <ul class="footer-list">
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Feature</a></li>
              <!-- <li><a href="#">Pricing</a></li> -->
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <!-- col -->

        <div class="col-md-3">
          <div class="footer-widget">
            <ul class="footer-list">
              <li><a href="#">Terms & condition</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div>
        <!-- col -->

        <div class="col-md-3">
          <div class="footer-widget">
            <ul class="footer-list">
              <li>Coimbatore</li>
              <!-- <li>info@yourmail.com</li>
                <li>West anderson court 32</li>
                <li>London , UK</li> -->
            </ul>
            <div class="social">
              <div class="social-icon">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </div>
              <div class="social-icon">
                <a href="#"><i class="fab fa-twitter"></i></a>
              </div>
              <div class="social-icon">
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
      <div class="up-icon" (click)="scrollToTop()">
        <i class="fas fa-angle-double-up fa-lg"></i>
      </div>
    </div>
    <!-- Footer-content -->
    <div class="footer-text text-center">
      <p>© 2022 Tech Swap, All rights reserved by Cloudin.</p>
    </div>
  </div>
  <!-- Container -->
</div>
