<div>
  <div class="header-area" id="home">
    <div class="header-content">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div
            class="col-lg-5 text-center text-lg-left order-last order-lg-first"
          >
            <div class="header-text">
              <h1 class="sec-title-xl">
                Creative & Innovative Digital Solution...
              </h1>
              <p class="lead">
                Being a top-notch Custom software development company, our
                services are designed to take your business to the next level,
                reducing the gap between you and the heights of success you wish
                to achieve.
              </p>
              <a href="#" [routerLink]="['/contact']" class="btn-lg"
                >Contact Us</a
              >
            </div>
          </div>
          <!-- col -->

          <div class="col-lg-6">
            <div class="header-img sec-img">
              <img
                src="../../assets/svg/3.svg"
                class="img-fluid"
                alt="header-img"
              />
            </div>
          </div>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <!-- Container -->
    </div>
    <!-- header-content -->
  </div>

  <!--   TEXT BLOCK-1 STARTS -->

  <div class="text-block-1 section-pad-sm section-pad nopb">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4">
          <h2 class="sec-title-xxl">Everything you need to know about us</h2>
        </div>
        <!-- col -->

        <div class="col-lg-7">
          <p class="lead">
            Encididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident.
          </p>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
  </div>
  <!--   TEXT BLOCK-1 ENDS -->

  <!-- WHY CHOOSE US AREA STARTS-->

  <div class="why-this section-pad-lg section-pad nopb" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="sec-heading">
            <h2 class="sec-title-lg">Why choose us</h2>
            <p class="lead">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="why-this-content">
            <h2>Benifits</h2>
            <p>
              Essecillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident.
            </p>
          </div>
        </div>
        <!-- col -->

        <div class="col-md-6 col-lg-3">
          <div class="why-this-content">
            <h2>Colaboration</h2>
            <p>
              Essecillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident.
            </p>
          </div>
        </div>
        <!-- col -->

        <div class="col-md-6 col-lg-3">
          <div class="why-this-content">
            <h2>Creative</h2>
            <p>
              Essecillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident.
            </p>
          </div>
        </div>
        <!-- col -->

        <div class="col-md-6 col-lg-3">
          <div class="why-this-content">
            <h2>Grow</h2>
            <p>
              Essecillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident.
            </p>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
      <div class="pb"></div>
    </div>
    <!-- Container -->
  </div>
  <!-- WHY CHOOSE US AREA ENDS-->

  <!-- TEAM STARTS -->
  <div class="team section-pad-lg section-pad nopb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="sec-heading">
            <h2 class="sec-title-lg">Meet the team</h2>
            <p class="lead">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->

      <div class="row text-center mtn-x3">
        <div class="col-md-3 col-6">
          <div class="team-content">
            <div class="team-photo">
              <img src="../../assets/images/team-a-lg.jpg" alt="team-member" />
            </div>
            <div class="team-info">
              <h2>Michel Logan<span>Founder</span></h2>
            </div>
          </div>
        </div>
        <!-- col -->

        <div class="col-md-3 col-6">
          <div class="team-content">
            <div class="team-photo">
              <img src="../../assets/images/team-b-lg.jpg" alt="team-member" />
            </div>
            <div class="team-info">
              <h2>David sean<span>Designer</span></h2>
            </div>
          </div>
        </div>
        <!-- col -->

        <div class="col-md-3 col-6">
          <div class="team-content">
            <div class="team-photo">
              <img src="../../assets/images/team-c-lg.jpg" alt="team-member" />
            </div>
            <div class="team-info">
              <h2>Alfred john<span>Developer</span></h2>
            </div>
          </div>
        </div>
        <!-- col -->

        <div class="col-md-3 col-6">
          <div class="team-content">
            <div class="team-photo">
              <img src="../../assets/images/team-d-lg.jpg" alt="team-member" />
            </div>
            <div class="team-info">
              <h2>Thomas lucas<span>Team member</span></h2>
            </div>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- Container -->
  </div>
  <!-- TEAM ENDS -->

  <!-- TESTIMONIAL STARTS -->

  <div class="testimonial section-pad-lg section-pad nopb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="sec-heading">
            <h2 class="sec-title-lg">What people say</h2>
            <p class="lead">
              Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip
            </p>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->

      <div class="testimonial-content">
        <div class="row justify-content-center text-center">
          <div class="col-lg-4 col-md-6">
            <div class="testimonial-item">
              <div class="testimonial-box">
                <blockquote>
                  Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam
                </blockquote>
              </div>
              <div class="testimonial-client">
                <div class="testimonial-client-img">
                  <img src="../../assets/images/client-a.jpg" alt="client" />
                </div>
                <div class="testimonial-client-details">
                  <h6>Adam smith</h6>
                  <span>Rocket inc</span>
                </div>
              </div>
            </div>
          </div>
          <!-- col -->

          <div class="col-lg-4 col-md-6">
            <div class="testimonial-item">
              <div class="testimonial-box">
                <blockquote>
                  Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam
                </blockquote>
              </div>
              <div class="testimonial-client">
                <div class="testimonial-client-img">
                  <img src="../../assets/images/client-d.jpg" alt="client" />
                </div>
                <div class="testimonial-client-details">
                  <h6>Maria flora</h6>
                  <span>Rocket inc</span>
                </div>
              </div>
            </div>
          </div>
          <!-- col -->

          <div class="col-lg-4 col-md-6">
            <div class="testimonial-item">
              <div class="testimonial-box">
                <blockquote>
                  Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam
                </blockquote>
              </div>
              <div class="testimonial-client">
                <div class="testimonial-client-img">
                  <img src="../../assets/images/client-e.jpg" alt="client" />
                </div>
                <div class="testimonial-client-details">
                  <h6>Stuart grill</h6>
                  <span>Rocket inc</span>
                </div>
              </div>
            </div>
          </div>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <!-- testimonial-content -->
    </div>
    <!-- Container -->
  </div>
  <!-- TESTIMONIAL ENDS -->

  <!-- PARTNER STARTS -->
  <div class="partner section-pad-sm section-pad nopb">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-12">
          <div class="partner-content">
            <h4 class="sec-title-sm">
              Over 4.500 website pages have been built with xiom
            </h4>
            <ul class="partner-list mb--x2">
              <li>
                <img src="../../assets/images/partner-a.png" alt="partner" />
              </li>
              <li>
                <img src="../../assets/images/partner-b.png" alt="partner" />
              </li>
              <li>
                <img src="../../assets/images/partner-c.png" alt="partner" />
              </li>
              <li>
                <img src="../../assets/images/partner-d.png" alt="partner" />
              </li>
            </ul>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- PARTNER ENDS -->

  <!-- SUBSCRIBER STARTS -->
  <!-- <div class="subscriber section-pad-sm section-pad nopb">
    <div class="container">
      <div class="cta-box subscriber-box">
        <div class="row justify-content-center text-center">
          <h2 class="subscriber-text-xl">Lets get started</h2>
        </div>
       

        <div class="row justify-content-center">
          <div class="col-md-4">
            <form
              id="subscribe-form"
              action="form/subscribe.php"
              method="post"
              class="subscription-form inline-form"
            >
              <div class="input-field">
                <input
                  type="email"
                  name="contact-email"
                  class="input-line required email text-center"
                  placeholder="Your mail"
                />
              </div>
              <div class="subscribe-results"></div>
              <input
                type="text"
                class="d-none"
                name="form-anti-honeypot"
                value=""
              />
              <div class="text-center">
                <button class="btn-lg btn-xl" type="submit">Start</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </div> -->
  <!-- SUBSCRIBER ENDS -->
</div>
