<div class="header-area" id="home">
  <header class="site-header is-sticky">
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-light is-transparent"
      id="mainnav"
    >
      <div class="container">
        <a class="navbar-brand" href="index-aster-v1.html">
          <img
            class="logo logo-dark logo-align"
            alt="logo"
            src="../../assets/images/TechSwap Logo.svg"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-icon">
            <i class="fas fa-bars"></i>
          </span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarTogglerDemo01"
        >
          <ul class="navbar-nav" style="display: flex; flex-wrap: nowrap">
            <li class="nav-item margin">
              <a class="nav-link" [routerLink]="['/home']">Home</a>
              <!-- <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="index-aster-v1.html"
                          >Aster default</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="index-aster-v2.html"
                          >Aster Alter</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="index-hosta-v1.html"
                          >Hosta Default</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="index-hosta-v2.html"
                          >Hosta Alter</a
                        >
                      </li>
                    </ul> -->
              <!-- dropdown-menu -->
            </li>
            <!-- dropdown -->

            <li class="nav-item margin">
              <a class="nav-link" href="" [routerLink]="['/about']">About</a>
            </li>
            <li class="nav-item margin">
              <a class="nav-link" href="" [routerLink]="['/feature']"
                >Feature</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" [routerLink]="['/contact']"
                >Contact</a
              >
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="" [routerLink]="['/contact']"
                  >Contact</a
                >
              </li> -->
            <!-- <li class="nav-item">
                <a class="btn-menu" href="#">Get started</a>
              </li> -->
          </ul>
          <!-- navbar -->
        </div>
      </div>
      <!-- Container -->
    </nav>
    <!-- End Navbar -->
  </header>
</div>
