<div>
  <div class="header-area" id="home">
    <div class="header-content">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div
            class="col-lg-5 text-center text-lg-left order-last order-lg-first"
          >
            <div class="header-text">
              <h1 class="sec-title-xl">Blockchain Development Company</h1>
              <p class="lead">
                Explore the world of secure, scalable, and interoperable
                decentralized applications with our end-to-end blockchain
                development services. We help enterprises leverage the power of
                blockchain technologies.
              </p>
              <a href="#" [routerLink]="['/contact']" class="btn-lg"
                >Contact Us</a
              >
            </div>
          </div>
          <!-- col -->

          <div class="col-lg-6">
            <div class="header-img sec-img">
              <img
                src="../../assets/svg/2.svg"
                class="img-fluid"
                alt="header-img"
              />
            </div>
          </div>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <!-- Container -->
    </div>
    <!-- header-content -->
  </div>
  <!-- HEADER AREA ENDS -->

  <!-- PARTNER STARTS -->
  <!-- <div class="partner section-pad-xs">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-12">
          <div class="partner-content">
            <h4 class="sec-title-sm">Over 400+ Happy Clients</h4>
            <ul class="partner-list mb--x2">
              <li>
                <img src="../../assets/images/partner-a.png" alt="partner" />
              </li>
              <li>
                <img src="../../assets/images/partner-b.png" alt="partner" />
              </li>
              <li>
                <img src="../../assets/images/partner-c.png" alt="partner" />
              </li>
              <li>
                <img src="../../assets/images/partner-d.png" alt="partner" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- PARTNER ENDS -->

  <!--   WHY THIS STARTS  -->
  <div class="why-this section-pad-lg section-pad nopb" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="sec-heading">
            <h2 class="sec-title-lg">Why choose this?</h2>
            <p class="lead">
              Better Transparency. <br />
              Enhanced Security.<br />
              Improved Speed and Highly Efficient.
            </p>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->

      <div class="row justify-content-center text-center">
        <div class="col-lg-4 col-md-6">
          <div class="why-box">
            <div class="why-img">
              <img src="../../assets/images/blockchain.png" alt="why-us" />
            </div>
            <h2>Effortless Integration</h2>
            <!-- <p>
              Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam
            </p> -->
          </div>
        </div>
        <!-- col -->

        <div class="col-lg-4 col-md-6">
          <div class="why-box">
            <div class="why-img">
              <img src="../../assets/images/worldwide.png" alt="why-us" />
            </div>
            <h2>Fast & optimized</h2>
            <!-- <p>
              Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam
            </p> -->
          </div>
        </div>
        <!-- col -->

        <div class="col-lg-4 col-md-6">
          <div class="why-box">
            <div class="why-img">
              <img src="../../assets/images/code.png" alt="why-us" />
            </div>
            <h2>Open platform</h2>
            <!-- <p>
              Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam
            </p> -->
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- Container -->
  </div>
  <!--   WHY THIS ENDS  -->

  <!--  CONFIG STARTS  -->
  <div class="config section-pad-xl section-pad nopb">
    <div class="config-shape">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 750.6 859"
      >
        <path
          d="M0,0v44.5c0,0,58-29,100-39s82-5,107,12s47,38,99,49s157,18,205,21s127,12,171,32s51,64,60,108s2,152-32,225
                s-87,132-172,164s-115,51-165,93s-114,104-166,131s-128,32-207-38V859h1920V0H0z"
        />
      </svg>
    </div>
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
          <div class="config-img sec-img">
            <img src="../../assets/svg/1.svg" alt="config" />
          </div>
        </div>
        <!-- col -->

        <div class="col-md-5 text-center text-md-left">
          <div class="text-block">
            <h2 class="sec-title-lg sec-title-md">
              Telemedicine Platform For Hospitals and Clinics<br
                class="d-none d-md-block"
              />
            </h2>
            <p class="lead">
              We have built a secure and scalable Telemedicine App that allows
              Doctors and Patients to Communicate via Video, Voice and Text.
              Hospitals and Clinics can use our ready-to-deploy telemedicine app
              to generate more consulting for patients and doctors. It is not a
              marketplace, instead, it will be your private app for your clinic
              or healthcare institute.
            </p>
            <!-- <a href="#" class="btn-link">Read More</a> -->
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- Container -->
  </div>
  <!--  CONFIG ENDS  -->

  <!--  TOOLS STARTS -->
  <div class="section-pad-lg">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
          <div class="sec-img">
            <img src="../../assets/svg/3.svg" alt="tools" />
          </div>
        </div>
        <!-- col -->

        <div
          class="col-md-5 text-center text-md-right order-last order-md-first"
        >
          <div class="text-block">
            <h2 class="sec-title-lg sec-title-md">
              Monetary System on the Blockchain
            </h2>
            <p class="lead">
              We built a comprehensive monetary system on the blockchain that
              facilitates the storage and trading of digital currencies into a
              wide range of crypto and fiat pairs across the globe, all from one
              simple interface. We helped our client redesign the user
              interfaces of their website, create the node monitoring dashboard,
              update the stellar core version, and provide maintenance services
              to ensure that the platform is up and always running.
            </p>
            <!-- <a href="#" class="btn-link">Read More</a> -->
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- Container -->
  </div>
  <!--  TOOLS ENDS -->

  <!--  FEATURE STARTS -->

  <div class="feature section-pad nopb" id="feature">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="sec-heading">
            <h2 class="sec-title-lg">More features</h2>
            <p class="lead">
              We build software solutions using emerging technologies for
              startups and enterprises
            </p>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->

      <div class="feature-content">
        <div class="row mtn-x2">
          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <img
                src="../../assets/images/feature-icon-a.png"
                alt="feature-icon"
              />
              <h2>Blockchain</h2>
              <p>
                Blockchain technology can benefit your enterprise solution and
                bring trust and transparency to the system.
              </p>
            </div>
          </div>
          <!-- col -->

          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <img
                src="../../assets/images/feature-icon-b.png"
                alt="feature-icon"
              />
              <h2>Software Development</h2>
              <p>
                We convert client requirements into secure, scalable, and
                custom-centric software products.
              </p>
            </div>
          </div>
          <!-- col -->

          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <img
                src="../../assets/images/feature-icon-c.png"
                alt="feature-icon"
              />
              <h2>Built For All</h2>
              <p>
                Our experts gain a strong understand your idea, offering you a
                wide range of software solutions.
              </p>
            </div>
          </div>
          <!-- col -->

          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <img
                src="../../assets/images/feature-icon-d.png"
                alt="feature-icon"
              />
              <h2>Response Instantly</h2>
              <p>
                Maintenance & Support Our support and maintenance options
                minimize issues and maximize your efficiency.
              </p>
            </div>
          </div>
          <!-- col -->

          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <img
                src="../../assets/images/feature-icon-e.png"
                alt="feature-icon"
              />
              <h2>Fast & Secure</h2>
              <p>
                we automate a variety of business processes, from secure
                customer data exchange to transparent supply chain management.
              </p>
            </div>
          </div>
          <!-- col -->

          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <img
                src="../../assets/images/feature-icon-f.png"
                alt="feature-icon"
              />
              <h2>Easy Optimization</h2>
              <p>
                Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam
              </p>
            </div>
          </div>
          <!-- col -->

          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <img
                src="../../assets/images/feature-icon-g.png"
                alt="feature-icon"
              />
              <h2>Clean interface</h2>
              <p>
                We deliver our best efforts to ingeniously convert your ideas
                and thoughts into a clear and fully functional design.
              </p>
            </div>
          </div>
          <!-- col -->

          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <img
                src="../../assets/images/feature-icon-h.png"
                alt="feature-icon"
              />
              <h2>Responsive</h2>
              <p>
                We design and deliver responsive and cross-platform compatible
                designs to ensure that it works across different platforms.
              </p>
            </div>
          </div>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <!-- feature-content -->
    </div>
    <!-- Container -->
  </div>
  <!--  FEATURE ENDS -->
  <!-- TEAM STARTS -->
  <div class="team section-pad-lg section-pad nopb no-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="sec-heading">
            <h2 class="sec-title-lg">Meet the team</h2>
            <!-- <p class="lead">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.
            </p> -->
          </div>
        </div>
      </div>

      <div class="row text-center mtn-x3">
        <!-- <div class="col-md-3 col-6">
          <div class="team-content">
            <div class="team-photo">
              <img src="../../assets/images/team-a-lg.jpg" alt="team-member" />
            </div>
            <div class="team-info">
              <h2>Michel Logan<span>Founder</span></h2>
            </div>
          </div>
        </div> -->

        <div class="col-md-12 col-12">
          <div class="team-content">
            <div class="team-photo">
              <img src="../../assets/images/team-b-lg.jpeg" alt="team-member" />
            </div>
            <div class="team-info">
              <h2>Anand Rajan</h2>
              <h4>CEO</h4>
              <h2>
                <span class="mt-3"
                  >An action-oriented leader with a strong track record of 20
                  plus years, having experience in various business sectors
                  across consumer banking, insurance and direct selling
                  industry. The core competencies include strategic planning,
                  marketing, channel management and client servicing.</span
                >
              </h2>
              <div class="social">
                <div class="social-icon">
                  <a href="tel:+91 73959 86006"><i class="fa fa-phone"></i></a>
                </div>
                <div class="social-icon">
                  <a href="mailto: info@techswaps.org"
                    ><i class="fa fa-envelope"></i
                  ></a>
                </div>
                <div class="social-icon">
                  <a
                    href="https://www.facebook.com/Techswap-Solutions-110975548220327/"
                    target="blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </div>
                <div class="social-icon">
                  <a href="" target="blank"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-3 col-6">
          <div class="team-content">
            <div class="team-photo">
              <img src="../../assets/images/team-c-lg.jpg" alt="team-member" />
            </div>
            <div class="team-info">
              <h2>Alfred john<span>Developer</span></h2>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-md-3 col-6">
          <div class="team-content">
            <div class="team-photo">
              <img src="../../assets/images/team-d-lg.jpg" alt="team-member" />
            </div>
            <div class="team-info">
              <h2>Thomas lucas<span>Team member</span></h2>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- TEAM ENDS -->

  <!-- TESTIMONIAL STARTS -->

  <!-- <div class="testimonial section-pad-lg section-pad nopb mtn-x2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="sec-heading">
            <h2 class="sec-title-lg">Testimonial</h2>
            <p class="lead">
              Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip
            </p>
          </div>
        </div>
      </div>

      <div class="testimonial-content">
        <div class="row justify-content-center text-center">
          <div class="col-lg-4 col-md-6">
            <div class="testimonial-item">
              <div class="testimonial-box">
                <blockquote>
                  Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam
                </blockquote>
              </div>
              <div class="testimonial-client">
                <div class="testimonial-client-img">
                  <img src="../../assets/images/client-a.jpg" alt="client" />
                </div>
                <div class="testimonial-client-details">
                  <h6>Adam smith<span>Rocket inc</span></h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="testimonial-item">
              <div class="testimonial-box">
                <blockquote>
                  Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam
                </blockquote>
              </div>
              <div class="testimonial-client">
                <div class="testimonial-client-img">
                  <img src="../../assets/images/client-a.jpg" alt="client" />
                </div>
                <div class="testimonial-client-details">
                  <h6>William muth<span>Rocket inc</span></h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="testimonial-item">
              <div class="testimonial-box">
                <blockquote>
                  Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam
                </blockquote>
              </div>
              <div class="testimonial-client">
                <div class="testimonial-client-img">
                  <img src="../../assets/images/client-a.jpg" alt="client" />
                </div>
                <div class="testimonial-client-details">
                  <h6>Stuart grill<span>Rocket inc</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- TESTIMONIAL ENDS -->

  <!-- CALL TO ACTION STARTS -->
  <!-- <div class="cta section-pad-sm section-pad nopb">
    <div class="container">
      <div class="cta-box">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-7">
            <h2 class="cta-header">
              Build your own site Download now and get free 100% boost
            </h2>
          </div>
          <div class="col-md-4">
            <div class="cta-btn">
              <a href="#" class="btn-lg">Try it free</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> -->
  <!-- CALL TO ACTION ENDS -->
</div>
